.profile-image{
    max-width: 150px;
    max-height: 200px;
    border: 4px solid lightgray;
    border-radius: 50%;
}
.table{
    width: 100%;
    /* border: 1px solid gray; */
    border-collapse: collapse;
}

.table tr td {
    padding: 20px 50px;
    border: 2.5px solid lightgray;
}

.mca{
    display: flex;
    justify-content: center;
}