<mat-card *ngIf="user">
  <mat-card-content>
    <h1>Your Profile Details</h1>

    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img
            src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
            alt="profile"
            class="profile-image responsive-image"
          />

          <h2 class="mt20">{{ user.fName }} {{ user.lname }}</h2>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table">
              <tr>
                <td>Username</td>
                <td>{{ user.userName }}</td>
              </tr>
              <tr>
                <td>UserId</td>
                <td>ARP{{ user.id }}</td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td>{{ user.phone }}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{ user.authorities[0].authority }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{ user.enabled ? "ACTIVE" : "INACTIVE" }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <mat-card-actions class="text-center mca mt20">
      <button mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="basic" class="ml20">Share</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
