<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title> Read the instructions carefully </mat-card-title>
            <mat-card-subtitle> One step more to go </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h1>{{ quiz.title }}</h1>
            <p>{{ quiz.description }}</p>
            <mat-divider></mat-divider>
            <h2>Important Instructions</h2>
            <ul>
              <li>
                The quizzes consists of questions carefully designed to help you
                self-assess your comprehension of the information presented on
                the topics covered in the module.
              </li>
              <li>
                Each question in the quiz is of multiple-choice or "true or
                false" format. Read each question carefully, and click on the
                button next to your response that is based on the information
                covered on the topic in the module.
              </li>
              <li>
                The total score for the quiz is based on your responses to all
                questions. If you respond incorrectly to a question or retake a
                question again and get the correct response, your quiz score
                will reflect it appropriately.
              </li>
            </ul>
            <h3>Number of Questions: {{ quiz.noOfQuestions }}</h3>
            <h3>Quiz Time: {{ quiz.noOfQuestions * 1 }} Minutes</h3>
            <h3>Total Marks: {{ quiz.maxMarks }}</h3>
            <mat-divider></mat-divider>
            <h2>Attempting Quiz</h2>
            <ul>
              <li>Click Start Quiz to attempt the quiz.</li>
              <li>
                The time will start the moment you click the Start Test button.
              </li>
              <li>Click on Submit Test button on completion of the quiz.</li>
            </ul>
          </mat-card-content>
          <mat-card-actions class="dflex-justify-center">
            <button (click)="startQuiz()" mat-raised-button color="primary">
              Start Quiz
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
